node_modules
.env

# Hardhat files
/cache
/artifacts
/ignition/deployments/chain-560048/*
!/ignition/deployments/chain-560048/deployed_addresses.json

/ignition/deployments/chain-1/*
!/ignition/deployments/chain-1/deployed_addresses.json


# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337

/cache_forge
/out
/lib/forge-std

# Coverage files
crytic-export
echidna*/
medusa*/

0xc/
0xweb.json
contracts/backlog/
